.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; 
}

.iconerr{
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}





@media screen and (min-width: 1020px) {
  .bottom {
    display: none;
  }
}
