.homeItems{
    display:flex;
    
}

.menuList{
    width: 17%;
    margin-top: 30px;
}
.contentList{
    width: 82%;
    background-color:#F9F9F9;
    color:black
}

.rowerr{
    width: 100%;
    margin: 0;
    padding: 0;
}



@media screen and (max-width:1020px) {
    .contentList {
            width: 100%;

    }
    .menuList {
            display: none;

    }
}